<%- include("partials/header"); -%>  


<h1>   <%= title %>    <!--  </h1>  step 1 , u defind the variable here first -->

 <p>        <%=  content  %>     </p>



<%- include("partials/footer"); -%> 
